 <h2>User Info</h2>
 画像
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
    
  <div class="row">
    <% if user == current_user %> 
    <%= link_to 'user_edit', edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" %>
    <% end %>