 <h4>User Info</h4>
    <table class="table">
     <tbody>
      <tr>
       <th><%= image_tag user.get_profile_image %></th>
      </tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
     </tbody>
    </table>

<%= link_to 'user_edit', edit_user_path(user) %>